
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
 
}
body{
    
    background-image: url('./media/images/n6FoCQ.png');

    background-size: cover;
    background-repeat: repeat-y;
}
.grey-overlay{
    position: absolute;
     top:-0;
     bottom: 0;
     right: 0;
     left: 0;
    opacity: 0;
    background-color: white;
    z-index: -1;

}

header{
color: white;
height: 16vh;
}
.container{
    margin: 2% 0%;
    background-color: black;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;}

.right-container h1{
    
     cursor: pointer;
    font-family: 'Oswald', sans-serif;
}


.log-nav{
    
    display:flex;
    list-style: none;
    justify-content: space-between;
    color: white;
    width: 100%;

}

.log-nav li{
   
     margin: 0% 1.25vw; 
     font-family: 'PT Sans', sans-serif;
     font-size: 1.2rem;
     font-weight: 600;
}

.log-nav li a:hover{
    color: rgb(230, 76, 140);
}

.log-nav li a{
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}
.log-nav li .selected{
     color: rgb(230, 76, 140);
}


.log-nav li span{
    font-size: 1.25rem;
    font-weight: lighter;
    
}
.log-nav li {
    position: relative;
}
i{
    height: 100%;
}
.cart-items{
position: absolute;
top: -40%;
right: -40%;
border-radius: 3rem;
padding: 3% 5%;
z-index: 2;
background-color: white;
color: black;
}
section{
    width: 98%;
    margin: 0% auto;
    padding:1% 2%;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.9);
}

section nav {
display: flex;
justify-content: space-around;
align-items: center;
}

.sec-search{
    display: flex;
    align-items: center;
}
.sec-filters{
       display: flex;
       align-items: center;
    
}



section nav h2{

   font-size: 1.7rem;
   font-family: 'PT Sans', sans-serif;
   color: white;

}

section nav input[type="search"]{
    max-width: 35vw;
    background-color: transparent;
    border-color: grey;
    border-width: 0 0 1.5px 0;
    border-style: solid;
    padding:0.5% ;
    color:white;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    
}

label{
    
  color:white;

    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
  
  
}

label:nth-child(2){

    margin-right: 6%;
}




