@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.container{
    display: grid;
    width: 100%;
    grid-template-areas: 
    "hd hd hd hd"
    "nv cnt cnt cnt"
    "nv cnt cnt cnt"
    "as cnt cnt cnt"
    "ft ft ft ft";
    grid-gap: 15% 5% ;
    text-align: center;
  
}


.container>.item{

    background-color: black;
    color: blanchedalmond;
    font-size: 200 px;
    padding:1% 5%;
    
}

header{
    grid-area: hd;
}
nav{
    grid-area: nv;
}
aside{
    grid-area:as;
}
#content{
    grid-area: cnt;
}
footer{
grid-area: ft;
}


}